@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #5456ce;
    --branco: #2b8004;
    --laranja: #91eb00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #e4e132;
}

body {
    background-color:indigo
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}